# IMBD Movies

## Overview
- For this project, produce a MySQL database on Movies from a subset of IMDB's publicly available dataset. Ultimately, you will use this database to analyze what makes a movie successful and will provide recommendations to the stakeholder on how to make a successful movie.

## Imports

In [23]:
import pandas as pd
import numpy as np

## Load Data

In [24]:
basics_url= 'https://datasets.imdbws.com/title.basics.tsv.gz'

akas_url= 'https://datasets.imdbws.com/title.akas.tsv.gz'

ratings_url= 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [25]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

akas = pd.read_csv(akas_url, sep='\t', low_memory= False)

ratings = pd.read_csv(ratings_url, sep='\t', low_memory= False)

## Cleaning the Data

In [26]:
basics.replace({'\\N':np.nan}, inplace=True)

akas.replace({'\\N':np.nan}, inplace= True)

ratings.replace({'\\N':np.nan}, inplace= True)

### Basics

In [27]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [28]:
basics['runtimeMinutes'].dropna(inplace=True)

In [29]:
basics['runtimeMinutes'].value_counts()

30      221814
60      168597
22      165117
15       84412
44       76172
         ...
736          1
529          1
830          1
1009         1
2088         1
Name: runtimeMinutes, Length: 891, dtype: int64

In [127]:
basics['genres'].fillna('zero', inplace=True)
null_genres= basics[basics['genres'] == 'zero'].index

basics.drop(null_genres, inplace=True)

In [128]:
basics['genres'].unique()

array(['Action,Crime', 'Documentary', 'Comedy,Fantasy,Romance', ...,
       'History,Reality-TV,War', 'Mystery,Reality-TV,Thriller',
       'Music,Musical,Reality-TV'], dtype=object)

In [33]:
basics['titleType'].value_counts()

tvEpisode       7574845
short            937710
movie            649210
video            275798
tvSeries         245619
tvMovie          142179
tvMiniSeries      49081
tvSpecial         42134
videoGame         34991
tvShort            9971
tvPilot               1
Name: titleType, dtype: int64

In [41]:
basics[basics['titleType'] == 'movie']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
...,...,...,...,...,...,...,...,...,...
9961430,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9961457,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9961469,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
9961479,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
9961489,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [43]:
non_movie = basics[basics['titleType'] != 'movie'].index

basics.drop(non_movie, inplace=True)

basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama

In [98]:
basics['startYear'].fillna(0, inplace=True)

In [99]:
basics['startYear'].unique()

array(['1894', '1897', '1905', '1906', '1907', '1908', '1909', '1910',
       '1912', '1911', '1913', '1915', '1914', '1919', '1916', '1917',
       '1936', '1925', '1918', '1920', '1922', '1921', '1924', '1923',
       '1928', '2019', '2021', '1926', '1927', '1929', '2000', '1993',
       '1935', '1930', '1942', '1932', '1931', '1934', '1939', 0, '1937',
       '1933', '1950', '1938', '1951', '1946', '1940', '1944', '1947',
       '1941', '1952', '1970', '1957', '1943', '1948', '1945', '2001',
       '1949', '1953', '1954', '1965', '1983', '1980', '1973', '1961',
       '1955', '1962', '1958', '2013', '1956', '1977', '1964', '1960',
       '1959', '1967', '1968', '1963', '1971', '1969', '1972', '1966',
       '1976', '1990', '1979', '1981', '2020', '1975', '1978', '1989',
       '1974', '1986', '1995', '1987', '1985', '2018', '1984', '1992',
       '1982', '1988', '1991', '2022', '1996', '1994', '2005', '1998',
       '2002', '1997', '2009', '2017', '2006', '2023', '1999', '2004',
       '2015', '2008', '2003', '2007', '1903', '1898', '1899', '2012',
       '2010', '2011', '1904', '2016', '1901', '1902', '1900', '2024',
       '2014', '2025', '2029', '2026', '2027', '2030', '1896', '2028',
       '2031'], dtype=object)

In [100]:
basics['startYear'] = basics['startYear'].astype(int)

In [104]:
basics['startYear'].unique()

array([1894, 1897, 1905, 1906, 1907, 1908, 1909, 1910, 1912, 1911, 1913,
       1915, 1914, 1919, 1916, 1917, 1936, 1925, 1918, 1920, 1922, 1921,
       1924, 1923, 1928, 2019, 2021, 1926, 1927, 1929, 2000, 1993, 1935,
       1930, 1942, 1932, 1931, 1934, 1939,    0, 1937, 1933, 1950, 1938,
       1951, 1946, 1940, 1944, 1947, 1941, 1952, 1970, 1957, 1943, 1948,
       1945, 2001, 1949, 1953, 1954, 1965, 1983, 1980, 1973, 1961, 1955,
       1962, 1958, 2013, 1956, 1977, 1964, 1960, 1959, 1967, 1968, 1963,
       1971, 1969, 1972, 1966, 1976, 1990, 1979, 1981, 2020, 1975, 1978,
       1989, 1974, 1986, 1995, 1987, 1985, 2018, 1984, 1992, 1982, 1988,
       1991, 2022, 1996, 1994, 2005, 1998, 2002, 1997, 2009, 2017, 2006,
       2023, 1999, 2004, 2015, 2008, 2003, 2007, 1903, 1898, 1899, 2012,
       2010, 2011, 1904, 2016, 1901, 1902, 1900, 2024, 2014, 2025, 2029,
       2026, 2027, 2030, 1896, 2028, 2031])

In [109]:
prior_2000= basics[basics['startYear'] < 2000].index
past_2021= basics[basics['startYear'] > 2021].index

basics.drop(prior_2000, inplace=True)
basics.drop(past_2021, inplace= True)

basics['startYear'].unique()

array([2019, 2021, 2000, 2001, 2013, 2020, 2018, 2005, 2002, 2009, 2017,
       2006, 2004, 2015, 2008, 2003, 2007, 2012, 2010, 2011, 2016, 2014])

In [129]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [130]:
basics['genres'].unique()

array(['Action,Crime', 'Comedy,Fantasy,Romance', 'Drama,History', 'Drama',
       'Comedy,Horror,Sci-Fi', 'Comedy,Drama,Fantasy', 'Drama,Romance',
       'Biography,Drama', 'Comedy,Mystery', 'Drama,Fantasy', 'Comedy',
       'Action,Crime,Drama', 'Horror,Thriller', 'Adventure',
       'Musical,Romance', 'Action,Adventure,Drama', 'Action',
       'Crime,Thriller', 'Comedy,Fantasy', 'Action,Thriller',
       'Action,Adventure,Fantasy', 'Comedy,Romance',
       'Comedy,Drama,Romance', 'Drama,Music,Romance',
       'Comedy,Horror,Mystery', 'Crime,Drama,Thriller', 'Comedy,Drama',
       'Action,Adventure,Animation', 'Drama,Thriller',
       'Comedy,Drama,Sci-Fi', 'Adventure,Family,Fantasy', 'Drama,War',
       'Drama,History,War', 'Adventure,Animation,Comedy',
       'Action,Drama,Sci-Fi', 'Biography,Drama,Romance',
       'Horror,Mystery,Thriller', 'Comedy,Drama,Thriller', 'Thriller',
       'Animation,Family,Musical', 'Drama,Mystery,Thriller',
       'Action,Adventure,Thriller', 'Action,Horror,Sci-Fi',
       'Action,Comedy,Horror', 'Action,Adventure,Sci-Fi',
       'Action,Adventure,Comedy', 'Animation,Drama,Family',
       'Mystery,Thriller', 'Family', 'Adult', 'Comedy,Family',
       'Comedy,Crime', 'Comedy,Crime,Romance', 'Drama,Mystery,Romance',
       'Crime,Mystery,Thriller', 'Horror', 'Action,Drama,Thriller',
       'Adventure,Animation,Drama', 'Action,Crime,Sci-Fi',
       'Action,Drama,Sport', 'Action,Crime,Fantasy', 'Fantasy',
       'Adventure,Animation,Family', 'Horror,Mystery',
       'Comedy,Drama,Music', 'Horror,Sci-Fi,Thriller',
       'Drama,Family,Western', 'Animation,Comedy,Sci-Fi',
       'Comedy,Drama,Horror', 'Crime,Drama', 'Crime,Drama,Romance',
       'Romance', 'Drama,Music', 'Biography,Comedy,Drama', 'Action,War',
       'Action,Drama', 'Crime,Drama,Horror', 'Crime,Fantasy,Mystery',
       'Biography', 'Comedy,Romance,Sci-Fi', 'Adventure,Comedy,Crime',
       'Drama,History,Thriller', 'Drama,Fantasy,Sport', 'Action,Comedy',
       'Comedy,Crime,Drama', 'Drama,Romance,Western',
       'Action,Drama,Musical', 'Adult,Crime,Mystery',
       'Biography,Crime,Drama', 'Comedy,Horror', 'Comedy,Drama,Family',
       'Comedy,Sci-Fi', 'Comedy,Family,Romance', 'Biography,Drama,Music',
       'Adventure,Drama,Romance', 'Action,Adventure,Crime',
       'Crime,Drama,Mystery', 'Drama,Mystery,Sci-Fi',
       'Drama,Horror,Thriller', 'Drama,Romance,Thriller',
       'Comedy,Music,Romance', 'Drama,Family', 'Drama,Thriller,War',
       'Drama,Horror,Mystery', 'Crime', 'Biography,Drama,History',
       'Action,Crime,Thriller', 'Comedy,Crime,Mystery', 'Comedy,Thriller',
       'Action,Sci-Fi', 'Adventure,Comedy,Drama', 'Crime,Horror',
       'Comedy,Family,Mystery', 'Animation,Comedy,Fantasy',
       'Fantasy,Horror', 'Action,Romance,Thriller',
       'Adventure,Biography,Drama', 'Drama,History,Romance',
       'Action,Comedy,Crime', 'Comedy,Drama,Mystery',
       'Crime,Drama,Musical', 'Drama,Musical,Sport',
       'Comedy,Family,Fantasy', 'Comedy,Musical,Romance',
       'Action,Drama,Romance', 'Crime,Horror,Mystery',
       'Comedy,Crime,Thriller', 'Animation,Drama,History',
       'Adventure,Comedy,Family', 'Comedy,Romance,Western',
       'Adventure,Comedy,Romance', 'Action,Comedy,Romance',
       'Crime,Sci-Fi,Thriller', 'Adventure,Comedy,Thriller',
       'Drama,Western', 'Crime,Mystery', 'Adventure,Drama',
       'Action,Comedy,Sci-Fi', 'Comedy,Drama,Sport', 'Romance,Sci-Fi',
       'Action,Crime,Mystery', 'Action,Comedy,Fantasy',
       'Crime,Drama,Music', 'Comedy,Music', 'Adventure,Sci-Fi,Thriller',
       'Action,Adventure,Romance', 'Drama,Mystery', 'Animation,Sci-Fi',
       'Animation,Comedy,Crime', 'Adventure,Family',
       'Action,Drama,History', 'Action,Mystery,Thriller',
       'Comedy,Musical', 'Drama,Sport', 'Drama,Fantasy,Romance',
       'Adventure,Comedy,Fantasy', 'Drama,Horror', 'Action,Drama,Fantasy',
       'Drama,Sci-Fi,Thriller', 'Drama,Music,Thriller', 'Comedy,Sport',
       'Comedy,Mystery,Romance', 'Comedy,Crime,Fantasy', 'War',
       'Action,Sci-Fi,Thriller', 'Fantasy,Musical', 'Comedy,Family,Sport',
       'Biography,Comedy', 'Animation,Comedy,Musical',
       'Crime,Horror,Thriller', 'Action,Fantasy', 'Drama,Family,Sci-Fi',
       'Musical', 'Drama,Romance,Sport', 'Action,Animation',
       'Biography,History', 'Drama,Romance,War', 'Drama,Sci-Fi',
       'Adventure,Animation', 'Mystery', 'Sci-Fi',
       'Drama,Musical,Romance', 'Animation', 'Action,Comedy,Thriller',
       'Comedy,Romance,Sport', 'Action,Adventure', 'Comedy,Drama,History',
       'Drama,Family,Fantasy', 'Romance,Thriller', 'Action,Comedy,Drama',
       'Adventure,Drama,Fantasy', 'Family,Horror',
       'Animation,Biography,Drama', 'Adventure,Animation,Sci-Fi',
       'Crime,Horror,Sci-Fi', 'Drama,Fantasy,Horror',
       'Action,Fantasy,Horror', 'Fantasy,Mystery',
       'Biography,Drama,Sport', 'Comedy,Horror,Romance',
       'Biography,Drama,Musical', 'Crime,Mystery,Romance',
       'Drama,Romance,Sci-Fi', 'Fantasy,Horror,Mystery',
       'Adventure,Comedy', 'Comedy,History', 'Action,Horror,Thriller',
       'Action,Drama,War', 'Action,Mystery,Sci-Fi',
       'Action,Animation,Drama', 'Action,Horror', 'Crime,Drama,Fantasy',
       'Animation,Family', 'Drama,Fantasy,Mystery',
       'Adventure,Drama,Family', 'Animation,Family,Fantasy',
       'Comedy,Drama,Musical', 'Comedy,Fantasy,Sci-Fi',
       'Mystery,Romance,Sci-Fi', 'Crime,Drama,History', 'Fantasy,Romance',
       'Drama,Fantasy,Music', 'Fantasy,Sci-Fi', 'Adventure,Comedy,Sport',
       'Crime,Romance,Thriller', 'Action,Western', 'Sci-Fi,Thriller',
       'Animation,Comedy,Drama', 'Adventure,Fantasy,Horror',
       'Animation,Comedy,Family', 'Action,Musical,Romance',
       'Family,Fantasy', 'Comedy,Drama,War', 'Action,Adventure,Family',
       'Comedy,Horror,Thriller', 'Drama,War,Western',
       'Horror,Mystery,Romance', 'Crime,Romance', 'Drama,Musical',
       'Adventure,Drama,History', 'Comedy,Mystery,Sci-Fi',
       'Animation,Drama,Fantasy', 'Horror,Mystery,Sci-Fi',
       'Comedy,Western', 'Comedy,Musical,Sci-Fi', 'Drama,History,Music',
       'Action,Sci-Fi,Sport', 'Animation,Crime,Drama',
       'Drama,Fantasy,Thriller', 'Action,Horror,Mystery',
       'Adventure,Family,Sci-Fi', 'Family,Fantasy,Music',
       'Action,Biography,Drama', 'Drama,Family,History',
       'Animation,Comedy', 'Music,Romance', 'Horror,Sci-Fi',
       'Thriller,Western', 'Fantasy,Romance,Thriller',
       'Comedy,Crime,Horror', 'Action,Romance', 'Adult,Sci-Fi',
       'Adventure,Sci-Fi,Western', 'History', 'Action,Adventure,Horror',
       'Action,Fantasy,Thriller', 'Fantasy,Mystery,Romance',
       'Action,History', 'Action,Fantasy,Sci-Fi', 'Drama,Music,War',
       'Drama,Family,Sport', 'Comedy,Family,Music',
       'Adventure,Biography,Comedy', 'Horror,War',
       'Adventure,Drama,Thriller', 'Family,Thriller',
       'Adventure,Comedy,Mystery', 'Action,Drama,Family',
       'Horror,Romance', 'Drama,Fantasy,Musical',
       'Fantasy,Horror,Thriller', 'Family,Romance',
       'Comedy,Fantasy,Horror', 'Adventure,Drama,War',
       'Drama,Horror,Romance', 'Western', 'Biography,Comedy,Crime',
       'Adventure,Romance', 'Comedy,Crime,Family', 'Comedy,Family,Sci-Fi',
       'Comedy,Mystery,Thriller', 'Crime,Drama,Sport',
       'Drama,Family,Romance', 'Music', 'Horror,Western',
       'Adventure,Sci-Fi', 'Action,Animation,Horror',
       'Action,Animation,Crime', 'Action,Drama,Music',
       'Adventure,Western', 'Action,Comedy,Mystery', 'Drama,Fantasy,War',
       'Action,Adventure,Biography', 'Sport', 'Adventure,Fantasy',
       'Drama,Horror,Musical', 'Adult,Crime,Drama',
       'Comedy,Romance,Thriller', 'Crime,Horror,Romance',
       'Adventure,Crime,Drama', 'Action,Musical,Thriller',
       'Family,Mystery', 'Action,Comedy,Musical', 'Drama,Fantasy,Sci-Fi',
       'Horror,Musical', 'Comedy,Crime,Musical', 'Drama,Family,War',
       'Adventure,Fantasy,Romance', 'Action,Comedy,Family',
       'Action,Drama,Mystery', 'Mystery,Sci-Fi,Thriller',
       'Mystery,Western', 'Drama,Horror,Sci-Fi', 'Biography,Drama,Family',
       'Action,Crime,Horror', 'Action,Drama,Horror',
       'Fantasy,Horror,Sci-Fi', 'Adventure,Family,Mystery',
       'Action,Animation,Comedy', 'Drama,Musical,Mystery', 'Adult,Drama',
       'Adventure,Animation,Musical', 'Crime,Drama,War', 'Romance,War',
       'Adventure,Animation,Biography', 'Animation,Drama',
       'Adventure,Animation,Fantasy', 'Adventure,Horror',
       'Adventure,Mystery,Thriller', 'Action,Crime,Romance',
       'Biography,Crime,Horror', 'Action,Animation,Mystery',
       'Adventure,Animation,Romance', 'Comedy,War',
       'Horror,Thriller,Western', 'Adventure,Drama,Mystery',
       'Adventure,Horror,Thriller', 'History,Musical,Romance',
       'Comedy,Musical,Mystery', 'Action,Sport',
       'Adventure,Comedy,Sci-Fi', 'Biography,Drama,Fantasy',
       'Adventure,Horror,Mystery', 'Drama,Fantasy,History',
       'Fantasy,Horror,Romance', 'Biography,Drama,Mystery',
       'Fantasy,History', 'Animation,Fantasy,History',
       'Action,Biography,Crime', 'Adult,Romance,Thriller',
       'Action,Musical', 'Comedy,Fantasy,Mystery',
       'Adventure,Crime,Thriller', 'Drama,Music,Musical', 'Adult,Romance',
       'Biography,Drama,Thriller', 'Adventure,Horror,Sci-Fi',
       'Action,Romance,Sci-Fi', 'Comedy,Horror,Music',
       'Drama,History,Musical', 'Comedy,History,Romance',
       'Action,Adventure,War', 'Drama,History,Sport',
       'Action,Family,Sci-Fi', 'Comedy,Family,Musical',
       'Adventure,Reality-TV', 'Musical,Sci-Fi,Thriller',
       'Action,Drama,Western', 'Action,Comedy,Western',
       'Adventure,Fantasy,Sci-Fi', 'Fantasy,Thriller',
       'Adventure,Romance,Thriller', 'Crime,Western',
       'Comedy,Crime,Music', 'Action,Biography,War',
       'Action,Adventure,Mystery', 'Drama,Family,Mystery',
       'Action,Horror,Romance', 'Action,Biography',
       'Action,Fantasy,Romance', 'Animation,Drama,Mystery',
       'Mystery,Sci-Fi', 'Drama,Family,Musical', 'Adventure,Thriller',
       'Adventure,Drama,Horror', 'Adventure,Comedy,Horror',
       'Comedy,Fantasy,Musical', 'Adventure,Drama,Sci-Fi',
       'Animation,Comedy,Music', 'Adult,Animation,Horror',
       'Adventure,Mystery,Sci-Fi', 'Animation,Fantasy',
       'Family,Music,Musical', 'Music,Sci-Fi', 'Animation,Horror,Sci-Fi',
       'Animation,Comedy,Horror', 'Crime,Drama,Family',
       'Adventure,Comedy,Music', 'Action,Fantasy,Musical',
       'Fantasy,Sci-Fi,Thriller', 'Adventure,Animation,Music',
       'Horror,Romance,Thriller', 'Animation,Drama,Sci-Fi',
       'Crime,Mystery,Sci-Fi', 'Animation,Drama,Romance',
       'Animation,Fantasy,Musical', 'Animation,Fantasy,Sci-Fi',
       'Action,Animation,Sport', 'Action,Sci-Fi,Western',
       'Family,Fantasy,Musical', 'Action,Animation,Family',
       'Crime,Musical', 'Drama,Sport,Thriller', 'Crime,Fantasy',
       'Comedy,Horror,Musical', 'Action,Animation,Sci-Fi',
       'Action,Animation,Romance', 'Fantasy,Musical,Romance',
       'Adult,Drama,Romance', 'Crime,Horror,Western',
       'Mystery,Romance,Thriller', 'Comedy,Crime,Sport',
       'Animation,Drama,Thriller', 'Animation,Drama,Horror',
       'Animation,Biography', 'Adventure,Drama,Music',
       'Family,Fantasy,Sci-Fi', 'Thriller,War', 'Comedy,Fantasy,Thriller',
       'Action,History,War', 'Romance,Sci-Fi,Thriller', 'Fantasy,Western',
       'Action,Romance,War', 'Comedy,Family,Thriller', 'Family,Musical',
       'Mystery,Romance', 'Action,Horror,War', 'Action,Thriller,War',
       'Action,Crime,Musical', 'Biography,Drama,War',
       'Crime,Drama,Western', 'Crime,Horror,Musical',
       'Biography,Fantasy,History', 'Animation,Fantasy,Horror',
       'Horror,Music,Sci-Fi', 'Biography,Comedy,Romance',
       'Drama,History,Horror', 'Adventure,Mystery',
       'Adventure,Family,History', 'Horror,Music',
       'Action,Thriller,Western', 'Animation,Comedy,Romance',
       'Drama,Music,Mystery', 'Fantasy,Horror,War',
       'Comedy,Sci-Fi,Thriller', 'Family,Fantasy,Mystery', 'History,War',
       'Animation,Thriller', 'Action,Adventure,Music',
       'Adventure,Crime,Family', 'Biography,Comedy,Horror',
       'Biography,Musical', 'Biography,Comedy,Sci-Fi', 'Family,Western',
       'Adventure,Comedy,Western', 'Drama,Music,Sci-Fi',
       'Music,Musical,Romance', 'Adventure,Fantasy,Thriller',
       'Comedy,History,War', 'Action,Adventure,History',
       'Adventure,Biography,War', 'Comedy,Fantasy,Music',
       'Action,Comedy,War', 'Crime,Fantasy,Horror',
       'Adventure,Drama,Sport', 'Adult,Comedy',
       'Biography,Crime,Thriller', 'Action,Comedy,Sport',
       'Crime,Musical,Mystery', 'Adult,Fantasy', 'Family,History',
       'Romance,Sport', 'Family,Sport', 'News',
       'Adventure,Family,Romance', 'Adventure,Family,Western',
       'Drama,History,Mystery', 'Horror,Sport,Thriller',
       'Comedy,Crime,Western', 'Comedy,Music,Musical',
       'Action,Horror,Western', 'Action,Mystery', 'Biography,Music',
       'Musical,War', 'Action,Comedy,Music',
       'Adventure,Animation,Mystery', 'Comedy,Drama,Western',
       'Animation,Horror,Mystery', 'Comedy,Horror,Western',
       'Comedy,Family,Western', 'Drama,Thriller,Western',
       'Family,Fantasy,History', 'Comedy,Crime,Sci-Fi',
       'Action,Crime,History', 'Animation,Horror',
       'Action,Adventure,Western', 'Animation,Music',
       'Adventure,Crime,Mystery', 'Fantasy,Mystery,Sci-Fi',
       'Drama,Mystery,War', 'Biography,Drama,Horror', 'Animation,History',
       'Animation,Fantasy,Romance', 'Crime,Drama,Sci-Fi',
       'Action,Mystery,Romance', 'Biography,History,War', 'Action,Family',
       'Crime,Thriller,War', 'Adventure,Fantasy,History',
       'Crime,Fantasy,Thriller', 'Animation,Family,History',
       'Horror,Musical,Sci-Fi', 'Animation,Crime,Music',
       'Animation,Crime,Mystery', 'Adventure,Music', 'Drama,Family,Music',
       'Crime,Thriller,Western', 'Comedy,Crime,History',
       'Drama,History,Sci-Fi', 'Fantasy,Sport', 'Animation,Musical,Sport',
       'Family,History,Musical', 'Musical,Thriller',
       'Adventure,History,Mystery', 'Biography,Family', 'Reality-TV',
       'Animation,Family,Western', 'Action,Fantasy,History',
       'History,Horror,Thriller', 'Drama,Horror,Western',
       'History,Romance,Thriller', 'Biography,Fantasy',
       'Adventure,History,Sci-Fi', 'Adventure,Crime', 'Talk-Show',
       'Animation,Sport', 'Biography,Crime', 'Adventure,Drama,Musical',
       'Reality-TV,Sport', 'Crime,Family', 'Fantasy,Mystery,Thriller',
       'Adventure,Mystery,Romance', 'Adventure,Fantasy,Mystery',
       'Drama,History,Western', 'Action,Music', 'Crime,Music,Romance',
       'Comedy,Fantasy,History', 'Action,Family,Fantasy',
       'Action,Sport,Thriller', 'Biography,Sport',
       'Animation,Musical,Romance', 'Action,Animation,Fantasy',
       'History,Sci-Fi', 'Animation,Drama,War', 'Animation,Drama,Musical',
       'Animation,Crime', 'Comedy,Horror,Sport',
       'Biography,History,Thriller', 'Animation,Mystery,Sci-Fi',
       'Family,Fantasy,Horror', 'Fantasy,Horror,Musical',
       'Animation,Sci-Fi,War', 'News,Reality-TV,Talk-Show',
       'Fantasy,Music,Musical', 'Drama,News,Thriller',
       'Adult,Animation,Drama', 'Animation,Biography,Comedy',
       'Biography,Comedy,Sport', 'Romance,Thriller,War',
       'Adventure,Animation,Crime', 'Animation,Musical',
       'Adventure,Horror,Romance', 'Action,Family,Sport',
       'Fantasy,Music,Mystery', 'Crime,Family,Mystery', 'Romance,Western',
       'Adult,Comedy,Drama', 'Adventure,Comedy,Musical',
       'Music,Talk-Show', 'Comedy,Reality-TV,Romance',
       'Animation,Sci-Fi,Thriller', 'Biography,Music,Mystery',
       'Musical,Romance,Thriller', 'Action,Biography,Comedy',
       'History,Thriller', 'Fantasy,History,Romance', 'Sci-Fi,Western',
       'Drama,Family,Thriller', 'Action,Adult', 'Animation,Drama,Music',
       'Adventure,History', 'Adventure,Horror,Musical',
       'Drama,Horror,Music', 'Adventure,Animation,History',
       'Animation,Comedy,Sport', 'Fantasy,History,Music',
       'Action,Crime,War', 'Adventure,Crime,Horror', 'Game-Show',
       'Music,Musical', 'Adult,Music', 'Biography,History,Western',
       'Action,Animation,Thriller', 'Crime,Reality-TV',
       'Adult,Comedy,Music', 'Comedy,Mystery,Sport', 'Biography,War',
       'Fantasy,Music,Romance', 'Family,Romance,Sci-Fi',
       'Musical,Romance,Sport', 'Drama,Musical,Thriller',
       'Animation,Horror,Romance', 'Adventure,Animation,Horror',
       'Action,Biography,History', 'Animation,History,War',
       'Action,Family,Thriller', 'Action,History,Thriller',
       'History,Horror', 'Action,Crime,Sport', 'Fantasy,Music',
       'Action,Music,Musical', 'Adventure,Comedy,History',
       'Animation,Family,Romance', 'Adventure,Biography',
       'Family,Music,Romance', 'Musical,Sci-Fi', 'Drama,News',
       'Drama,Sci-Fi,Western', 'Comedy,Talk-Show', 'Music,Sport',
       'Horror,Reality-TV', 'Adventure,Musical,Sci-Fi', 'News,Talk-Show',
       'Family,Music', 'Comedy,Music,Sport', 'Adult,Comedy,Crime',
       'History,Romance', 'Fantasy,Romance,Sci-Fi',
       'Biography,Comedy,Music', 'Drama,Musical,War',
       'Animation,Fantasy,Thriller', 'Adult,Horror,Thriller',
       'Horror,Sport', 'Animation,Fantasy,Music',
       'Horror,Musical,Thriller', 'Fantasy,War', 'Animation,Crime,Sci-Fi',
       'Crime,Romance,Sci-Fi', 'Animation,Mystery,Thriller',
       'Adventure,War', 'Crime,Family,Musical', 'Comedy,History,Horror',
       'Biography,Crime,History', 'Music,Western',
       'Animation,Family,Music', 'History,Music',
       'Fantasy,Horror,Western', 'Action,Sci-Fi,War',
       'Adult,Fantasy,Horror', 'History,Musical,War',
       'Reality-TV,Romance', 'Crime,Fantasy,Romance', 'Comedy,Reality-TV',
       'Adult,Drama,Reality-TV', 'Action,Adventure,Sport',
       'Biography,Music,Musical', 'Crime,History',
       'Adventure,Drama,Western', 'Horror,Music,Musical',
       'Adult,Thriller', 'Adult,Drama,Fantasy', 'Comedy,Musical,Thriller',
       'Action,Adult,Sci-Fi', 'Action,Fantasy,Mystery', 'Crime,War',
       'Fantasy,Reality-TV,Romance', 'Biography,Thriller',
       'Action,Animation,Musical', 'Horror,Thriller,War',
       'Family,Music,Reality-TV', 'Comedy,Drama,Reality-TV', 'Sci-Fi,War',
       'Reality-TV,Western', 'Animation,Fantasy,Mystery',
       'Biography,Comedy,History', 'Animation,Family,Sci-Fi',
       'Adult,Horror', 'Crime,Sci-Fi', 'Musical,Sport',
       'Family,Musical,Mystery', 'Family,Romance,Sport',
       'Drama,Horror,War', 'Biography,Comedy,Mystery',
       'Comedy,Music,Thriller', 'Biography,Romance',
       'Adventure,Family,Music', 'Family,Music,Sport',
       'Animation,Drama,Sport', 'Music,News', 'Adult,Fantasy,Romance',
       'Animation,Biography,History', 'Drama,Musical,Sci-Fi',
       'Biography,Reality-TV', 'Action,Crime,Family',
       'Adult,Biography,Drama', 'Drama,Sci-Fi,War', 'Adult,Comedy,Horror',
       'Animation,Comedy,War', 'Mystery,Thriller,Western',
       'Crime,History,Thriller', 'Music,Reality-TV',
       'Adventure,Comedy,Reality-TV', 'Adventure,Fantasy,Musical',
       'Adventure,Biography,Crime', 'Animation,Music,Sci-Fi',
       'Adult,Drama,Mystery', 'Animation,Comedy,Mystery',
       'Game-Show,Sport', 'Animation,Biography,Family',
       'Adventure,Horror,Western', 'Drama,Family,Horror',
       'Biography,Mystery,Sci-Fi', 'Biography,Romance,War',
       'Crime,History,Horror', 'Comedy,Music,Mystery',
       'Adult,Adventure,Comedy', 'Biography,Fantasy,Horror',
       'History,Mystery,Thriller', 'Adventure,Comedy,War',
       'Action,Fantasy,War', 'Animation,Biography,Music',
       'Adventure,Biography,Thriller', 'Crime,History,Mystery',
       'Adventure,Crime,Romance', 'Action,History,Horror',
       'Animation,History,Musical', 'Adventure,Biography,History',
       'Comedy,Music,Sci-Fi', 'Biography,Comedy,Family',
       'Animation,Horror,Thriller', 'Comedy,Musical,War',

In [131]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

11636      True
34803      True
42384      True
61115      True
67667      True
           ...
9961260    True
9961305    True
9961337    True
9961389    True
9961469    True
Name: tconst, Length: 173524, dtype: bool

In [132]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime"
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9961260,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9961305,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9961337,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"
9961389,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9961469,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy

### AKAs

In [133]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [137]:
akas['titleId'].nunique()

7136813

### Ratings

In [138]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1838
3  tt0000004            5.5       178
4  tt0000005            6.2      2625

In [139]:
keepers_ =ratings['tconst'].isin(akas['titleId'])
keepers_

0           True
1           True
2           True
3           True
4           True
           ...
1323902     True
1323903     True
1323904    False
1323905    False
1323906    False
Name: tconst, Length: 1323907, dtype: bool

In [140]:
ratings = ratings[keepers_]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1982
1        tt0000002            5.8       265
2        tt0000003            6.5      1838
3        tt0000004            5.5       178
4        tt0000005            6.2      2625
...            ...            ...       ...
1323884  tt9916460            9.4        18
1323888  tt9916538            8.6         7
1323889  tt9916544            6.8        64
1323902  tt9916730            8.3        10
1323903  tt9916766            7.0        21

[988773 rows x 3 columns]

In [141]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]